<div class="float-right">
    {% include '_atoms/button_link.html.twig' with {
        'atom': {
            'class': 'btn-outline-primary ms-lg-5',
            'translate': 'mact._common.login'
        }
    } %}
</div>
