<div class="element-header-login float-right ms-lg-5">
    {% include '_atoms/button_link.html.twig' with {
        'atom': {
            'class': 'btn-outline-primary header-link-login ms-lg-5',
            'translate': 'mact._common.login'
        }
    } %}
</div>
