<footer class="d-flex flex-wrap justify-content-between align-items-center p-3 mt-3 border-top fixed-bottom">
    <div class="container footer_container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <div class="d-inline-flex align-items-center">
                    <a href="{{ path('mact_home') }}" class="mb-3 me-2 mb-md-0">
                        {% include '_atoms/icon.html.twig' with { 'icon': 'fa fa-gratipay fa-2x' } %}
                    </a>
                </div>
                <div class="d-inline-flex align-items-center">
                    <span>&copy; 2022</span>
                </div>
            </div>

            <ul class="list-unstyled d-flex d-inline-flex align-items-center mb-0">
                {% include '_atoms/item_list.html.twig' with {
                    'atom': {
                        'class': 'ms-3',
                        'link': {
                            'icon': 'fa fa-github fa-2x',
                            'target': '_blank',
                            'url': 'https://github.com/elliapassinge/mact'
                        }
                    }
                } %}
            </ul>
        </div>
    </div>
</footer>
